* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 41, 41);

  .counter {
    // height: 200px;
    // width: 250px;
    border: 1px solid #7fff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    border-radius: 10px;
    color: #c5c5c5;

    h3 {
      font-size: 3rem;
    }

    .btn .button {
      padding: 10px 20px;
      font-size: 1.2rem;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #7fff00;
    }

  }
}