@font-face {
  font-family: play;
  src: url(./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

section {
  padding: 0 10rem;
  width: 100%;
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

nav .mid {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav button {
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 15px;
}

.sec-1 .center {
  position: relative;
}

.sec-1 .center .text {
  text-align: center;
  padding: 50px;
}

.sec-1 .center .text h5 {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  font-weight: 500;
  /* font-style: italic; */
  font-family: play;
  margin-bottom: 20px;
}

.sec-1 .center .text h1 {
  font-size: clamp(1rem, 5vw, 5rem);
  line-height: 1;
  margin-bottom: 30px;
}

.sec-1 .center .text p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #777;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.sec-1 .center .text button {
  padding: 18px 30px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 20px;
}

.sec-1 .center img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 700px;
  z-index: 9;
}

.sec-1 .center .gradient {
  width: 89%;
  height: 30%;
  background: linear-gradient(
    to right bottom,
    rgb(255, 182, 48),
    rgb(255, 51, 133),
    rgb(197, 0, 197)
  );
  position: absolute;
  filter: blur(100px);
  rotate: -5deg;
}

/* .center::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28%;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  filter: blur(30px);
  pointer-events: none;
  z-index: 4;
} */
