* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  color: green;
}

body {
  display: flex;
  background: #222;
  overflow: hidden;
}

h3 {
  cursor: pointer;
  display: flex;
  position: absolute;
  margin-top: 300px;
  margin-left: 25%;
  font-size: 2.4rem;
  cursor: pointer;
}