* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
}

main {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 170);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    .outer {
      height: 100%;
      width: 100%;
      position: absolute;
      display: none;
      background-position: center;
      background-size: cover;
    }

    .story-line {
      width: 100%;
      height: 3px;
      background-color: rgb(187, 187, 187);
      position: absolute;
      top: 30px;
      z-index: 20;
      display: none;

      .line {
        width: 0;
        height: 100%;
        background-color: white;
      }
    }

    .storys {
      width: 100%;
      height: 120px;
      border-bottom: 1px solid #bababa;
      padding: 20px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;


      &::-webkit-scrollbar {
        display: none;
      }


      .story {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 3px solid red;
        display: inline-block;
        overflow: hidden;
        margin-right: 10px;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;

        }
      }
    }
  }
}