@mixin flex-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1.2rem;
}

@mixin same-code {
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}

@mixin after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}

@mixin name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}

@mixin h3 {
  font-family: ucc;
}

@mixin p {
  font-family: ucc;
  opacity: 0.7;
}