@font-face {
  font-family: jtuq;
  src: url(./fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2);
}

@font-face {
  font-family: jtus;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}

@font-face {
  font-family: ucc;
  src: url(./fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2);
}

@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;


  .section1 {
    width: 100%;
    background-color: rgb(0, 29, 33);
    color: white;
    padding-inline: 10rem;

    nav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;

      .nav1 {
        display: flex;
        gap: 3rem;
        align-items: center;

        h2 img {
          width: 10rem;
        }

        h4 {
          font-size: clamp(0.8rem, 1.3vw, 1.2rem);
          font-weight: 200;
          opacity: 0.7;
          font-family: ucc;
        }
      }

      .nav2 button {
        font-size: 1.3rem;
        padding: 0.8rem 1.5rem;
        border-radius: 1rem;
        opacity: 0.9;
        border: none;
        font-family: ucc;
      }
    }

    center {
      width: 100%;
      display: flex;
      flex-direction: column;

      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem;
        gap: 1rem;

        h1 {
          font-size: clamp(2rem, 5vw, 4.2rem);
          font-weight: 400;
          font-family: ucc;
          letter-spacing: -4px;

        }

        p {
          font-size: clamp(0.7rem, 1vw, 1rem);
          width: 43%;
          opacity: 0.7;
          font-family: ucc;
          line-height: 1.4;
        }
      }

      .images {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
        gap: 1.2rem;

        img {
          width: 32%;
          border-radius: 2rem;
        }
      }

    }
  }

  .section2 {
    width: 100%;
    height: 80%;
    padding: 4rem 10rem;
    background-color: rgb(249, 249, 247);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "left top top top top"
      "left middle middle middle middle"
      "left bottom bottom bottom bottom";

    .left {
      grid-area: left;

      p {
        font-size: clamp(1rem, 1.2vw, 1.5rem);
        opacity: 0.9;
        font-family: ucc;
        font-weight: 300;
        position: relative;
        padding-left: 1.3rem;

        &::before {
          content: "";
          position: absolute;
          height: 11px;
          width: 10px;
          background-color: black;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }

    .top {
      grid-area: top;

      h2 {
        font-size: clamp(1.5rem, 4vw, 2.1rem);
        font-family: ucc;
        font-weight: 400;
        opacity: 0.9;
        line-height: 1.1;
      }
    }

    .middle {
      grid-area: middle;
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      .content {
        border-left: 1px solid rgba(152, 152, 152, 0.625);
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        h2 {
          font-size: 2rem;
          font-weight: 400;
          font-family: ucc;
        }

        p {
          font-weight: 300;
          opacity: 0.7;
          font-size: 1.1rem;
          font-family: ucc;
        }
      }
    }

    .bottom {
      grid-area: bottom;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      img {
        width: 18%;
      }
    }
  }

  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 10rem;

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: clamp(1rem, 1.2vw, 1.5rem);
        opacity: 0.9;
        font-family: ucc;
        font-weight: 300;
        position: relative;
        padding-left: 1.3rem;

        &::before {
          content: "";
          position: absolute;
          height: 11px;
          width: 10px;
          background-color: black;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }
      }

      h1 {
        font-size: clamp(2rem, 4vw, 3.5rem);
        font-family: ucc;
        font-weight: 400;
        letter-spacing: -3px;
      }
    }

    .middle {
      @include flex-box();

      .middle-left {
        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2353_Frame%202147227060.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }

      }

      .middle-mid {
        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2364_Frame%202147227010.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }
      }

      .middle-right {

        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2365_Frame%202147227009.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1.2rem;

      .bottom-left {

        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2366_Frame%202147227061.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }
      }

      .bottom-mid {
        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2367_Frame%202147227013.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }
      }

      .bottom-right {
        background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2363_Frame%202147227014.webp");
        @include same-code();

        &::after {
          @include after();
        }

        .name {
          @include name();

          h3 {
            @include h3();
          }

          p {
            @include p();
          }
        }
      }


    }
  }
}