@font-face {
  font-family: jtuq;
  src: url(./fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2);
}
@font-face {
  font-family: jtus;
  src: url(./fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}
@font-face {
  font-family: ucc;
  src: url(./fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}
main .section1 {
  width: 100%;
  background-color: rgb(0, 29, 33);
  color: white;
  padding-inline: 10rem;
}
main .section1 nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
main .section1 nav .nav1 {
  display: flex;
  gap: 3rem;
  align-items: center;
}
main .section1 nav .nav1 h2 img {
  width: 10rem;
}
main .section1 nav .nav1 h4 {
  font-size: clamp(0.8rem, 1.3vw, 1.2rem);
  font-weight: 200;
  opacity: 0.7;
  font-family: ucc;
}
main .section1 nav .nav2 button {
  font-size: 1.3rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  opacity: 0.9;
  border: none;
  font-family: ucc;
}
main .section1 center {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .section1 center .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  gap: 1rem;
}
main .section1 center .text h1 {
  font-size: clamp(2rem, 5vw, 4.2rem);
  font-weight: 400;
  font-family: ucc;
  letter-spacing: -4px;
}
main .section1 center .text p {
  font-size: clamp(0.7rem, 1vw, 1rem);
  width: 43%;
  opacity: 0.7;
  font-family: ucc;
  line-height: 1.4;
}
main .section1 center .images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1.2rem;
}
main .section1 center .images img {
  width: 32%;
  border-radius: 2rem;
}
main .section2 {
  width: 100%;
  height: 80%;
  padding: 4rem 10rem;
  background-color: rgb(249, 249, 247);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: "left top top top top" "left middle middle middle middle" "left bottom bottom bottom bottom";
}
main .section2 .left {
  grid-area: left;
}
main .section2 .left p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  opacity: 0.9;
  font-family: ucc;
  font-weight: 300;
  position: relative;
  padding-left: 1.3rem;
}
main .section2 .left p::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main .section2 .top {
  grid-area: top;
}
main .section2 .top h2 {
  font-size: clamp(1.5rem, 4vw, 2.1rem);
  font-family: ucc;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.1;
}
main .section2 .middle {
  grid-area: middle;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
main .section2 .middle .content {
  border-left: 1px solid rgba(152, 152, 152, 0.625);
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section2 .middle .content h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: ucc;
}
main .section2 .middle .content p {
  font-weight: 300;
  opacity: 0.7;
  font-size: 1.1rem;
  font-family: ucc;
}
main .section2 .bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main .section2 .bottom img {
  width: 18%;
}
main .section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
}
main .section3 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section3 .top p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  opacity: 0.9;
  font-family: ucc;
  font-weight: 300;
  position: relative;
  padding-left: 1.3rem;
}
main .section3 .top p::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main .section3 .top h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-family: ucc;
  font-weight: 400;
  letter-spacing: -3px;
}
main .section3 .middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1.2rem;
}
main .section3 .middle .middle-left {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2353_Frame%202147227060.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .middle .middle-left::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .middle .middle-left .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .middle .middle-left .name h3 {
  font-family: ucc;
}
main .section3 .middle .middle-left .name p {
  font-family: ucc;
  opacity: 0.7;
}
main .section3 .middle .middle-mid {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2364_Frame%202147227010.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .middle .middle-mid::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .middle .middle-mid .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .middle .middle-mid .name h3 {
  font-family: ucc;
}
main .section3 .middle .middle-mid .name p {
  font-family: ucc;
  opacity: 0.7;
}
main .section3 .middle .middle-right {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2365_Frame%202147227009.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .middle .middle-right::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .middle .middle-right .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .middle .middle-right .name h3 {
  font-family: ucc;
}
main .section3 .middle .middle-right .name p {
  font-family: ucc;
  opacity: 0.7;
}
main .section3 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
main .section3 .bottom .bottom-left {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2366_Frame%202147227061.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .bottom .bottom-left::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .bottom .bottom-left .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .bottom .bottom-left .name h3 {
  font-family: ucc;
}
main .section3 .bottom .bottom-left .name p {
  font-family: ucc;
  opacity: 0.7;
}
main .section3 .bottom .bottom-mid {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2367_Frame%202147227013.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .bottom .bottom-mid::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .bottom .bottom-mid .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .bottom .bottom-mid .name h3 {
  font-family: ucc;
}
main .section3 .bottom .bottom-mid .name p {
  font-family: ucc;
  opacity: 0.7;
}
main .section3 .bottom .bottom-right {
  background-image: url("https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2363_Frame%202147227014.webp");
  width: 32%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}
main .section3 .bottom .bottom-right::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  bottom: 0;
  width: 100%;
  height: 25%;
}
main .section3 .bottom .bottom-right .name {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
main .section3 .bottom .bottom-right .name h3 {
  font-family: ucc;
}
main .section3 .bottom .bottom-right .name p {
  font-family: ucc;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */