* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 28, 28);
  gap: 2rem;

  #box {
    height: 250px;
    width: 250px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    h1 {
      font-size: 5rem;
    }
  }

  button {
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    background-color: aquamarine;

    &:active {
      scale: 1.1;
    }
  }
}