* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
main .monitor {
  position: relative;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(22, 21, 21, 0.555);
}
main .monitor .right-click {
  overflow: hidden;
  position: absolute;
  height: auto;
  width: 250px;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  flex-direction: column;
  z-index: 15;
  font-size: 1rem;
  opacity: 0.9;
}
main .monitor .right-click .option {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
main .monitor .right-click .option:hover {
  background-color: #f0f0f0;
}
main .monitor .main-screen {
  overflow: hidden;
  position: relative;
  height: 90%;
  width: 100%;
  background-image: url(https://i.pinimg.com/1200x/b0/ff/76/b0ff762fcff7935d8f164dbb04d5f204.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .monitor .main-screen .windows {
  height: 80%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  transition: all 0.3s linear;
}
main .monitor .main-screen .windows .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding-inline: 2rem;
  background-color: rgba(0, 0, 0, 0.203);
}
main .monitor .main-screen .windows .bottom i {
  background-color: white;
  border-radius: 50%;
  padding: 5px 6px;
  font-size: 1rem;
}
main .monitor .main-screen .windows .bottom .user {
  display: flex;
  gap: 0.7rem;
}
main .monitor .main-screen .vs-code {
  height: 80%;
  width: 60%;
  background-color: rgba(40, 204, 254, 0.8);
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  transition: all 0.3s linear;
}
main .monitor .main-screen .vs-code .top {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.203);
}
main .monitor .main-screen .vs-code .top i {
  color: white;
}
main .monitor .main-screen .vs-code .top i:hover {
  background-color: red;
}
main .monitor .main-screen .camera {
  height: 80%;
  width: 60%;
  background-color: rgba(178, 137, 137, 0.8);
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  transition: all 0.3s linear;
}
main .monitor .main-screen .camera .top {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.203);
}
main .monitor .main-screen .camera .top i {
  color: white;
}
main .monitor .main-screen .camera .top i:hover {
  background-color: red;
}
main .monitor .main-screen .file {
  height: 80%;
  width: 60%;
  background-color: rgba(251, 247, 26, 0.8);
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  transition: all 0.3s linear;
}
main .monitor .main-screen .file .top {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.203);
}
main .monitor .main-screen .file .top i {
  color: white;
}
main .monitor .main-screen .file .top i:hover {
  background-color: red;
}
main .monitor .taskbar {
  z-index: 10;
  height: 10%;
  width: 100%;
  background-color: #5b5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
main .monitor .taskbar img {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}
main .monitor .taskbar img:active {
  transform: scale(0.9);
}
main .monitor .taskbar .search {
  display: flex;
  align-items: center;
  width: 180px;
  background-color: white;
  padding: 4px 5px;
  border-radius: 20px;
  overflow: hidden;
}
main .monitor .taskbar .search .search-input {
  padding: 4px 1px;
  font-size: 16px;
  border: 2px solid rgba(204, 204, 204, 0);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */