* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --x: 400px;
  --y: 400px;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  // border: 5px solid red;
  // background: black;

}

.box {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background: radial-gradient(140px at var(--x) var(--y),
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0));
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 1;
}