* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #000000;
  --primary-text-color: #e9e9e9;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --bg-delete-color: #ff4d4d;
  --bg-modal-bg: rgba(61, 61, 61, 0.486);

  /*padding*/
  --nav-padding: 1rem 2rem;
  --section-paddinf: 1rem 2rem;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /*border-radius*/
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

nav button {
  background-color: var(--bg-button-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-m);
  cursor: pointer;
}

section {
  padding: var(--section-paddinf);
  display: flex;
  flex-grow: 1;
  gap: var(--padding-xxl);
  justify-content: space-between;
}

section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  width: 100%;
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  border-radius: var(--border-radius-m);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.05;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}

section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-s) var(--padding-m);
  border: none;
  border-radius: var(--border-radius-s);
  outline: none;
  background-color: var(--bg-delete-color);
  color: var(--primary-text-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--bg-modal-bg);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.modal .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  z-index: 10;
}

.modal .center input,
.modal .center textarea {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);
  color: var(--primary-text-color);
}

.modal .center button {
  background-color: var(--bg-task-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-m);
  cursor: pointer;
  width: fit-content;
  align-self: center;
}
