* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.word-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/*--word nav--*/
.word-nav {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 50px;
  display: flex;
  padding-top: 1rem;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
  background-color: rgb(102, 102, 215);
}

.word-nav > p.active {
  background-color: white;
  color: rgb(92, 92, 206);
}

.word-nav > p {
  cursor: pointer;
  padding-inline: 0.2rem;
  padding-top: 0.3rem;
  color: white;
  font-weight: 500;
}

.word-nav > p:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.244);
}

/*--toolbar--*/
.toolbar-items {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
}

.toolbar {
  display: flex;
  gap: 1rem;
  display: none;
}

.toolbar button {
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  /* background-color: transparent; */
  font-size: large;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  transition: all ease 0.2s;
}

.toolbar button:active {
  transform: scale(0.95);
}

.toolbar button:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

#pageSize {
  border: none;
  background-color: rgb(235, 233, 233);
  /* font-size: large; */
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

#pageSize:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

#orientation {
  border: none;
  background-color: rgb(235, 233, 233);
  /* font-size: large; */
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}
#orientation:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

[data-tab="home"] {
  display: block;
}

.word-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 60px);
  padding: 1rem;
  background-color: rgb(229, 223, 223);
}

.page {
  /* display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  outline: none; */

  width: 800px;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.page-border {
  width: 90%;
  height: 93%;
  padding: 20px;
  outline: none;
}

/*---design---*/
/*---page color---*/
.pageColor {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -100%;
  left: 64.5%;
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.colorNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  cursor: pointer;
}

.allColor {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.allColor > button {
  border: none;
  height: 50px;
  width: 65px;
  cursor: pointer;
  /* padding: 0.2rem; */
}

.border-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 300px;
  position: absolute;
  top: -100%;
  left: 64.5%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  gap: 0.5rem;
  transition: all ease 0.3s;
  border-radius: 0.2rem;
}

/*--border design--*/
.borderPanel-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--Layout--*/
/* Page Sizes */

.a3 {
  width: 1123px;
  height: 1587px;
}

.a4 {
  width: 794px;
  height: 1123px;
}

.a5 {
  width: 559px;
  height: 794px;
}

.letter {
  width: 816px;
  height: 1056px;
}

.legal {
  width: 816px;
  height: 1344px;
}
