* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --rotation {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotation: 0deg;
  }
  to {
    --rotation: 360deg;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(245, 245, 245, 0.748);
  max-width: 300px;
  border-radius: 15px;
  text-align: center;
  padding-inline: 10px;
  box-shadow: 0 0 0 rgb(255, 0, 123);
  background: linear-gradient(rgb(0, 0, 0), black) padding-box,
    conic-gradient(from var(--rotation), black, rgb(255, 0, 123), black)
      border-box;
  border: 0px solid rgba(255, 255, 255, 0);
  border-width: 0px;
  animation: borderAnimate 8s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  transition: all 0.3s linear;
  text-shadow: 0 0 0 rgb(255, 0, 123);
  scale: 1;
}

.box:hover {
  animation-play-state: running;
  box-shadow: 0 0 60px rgb(255, 0, 123);
  border-width: 5px;
  text-shadow: 0 0 12px rgb(255, 0, 123);
  scale: 1.1;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h5 {
  margin-bottom: 10px;
}
