* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'head';
  src: url(./fonts/SpaceGrotesk-Medium.woff);
}

@font-face {
  font-family: 'body';
  src: url(./fonts/SpaceGrotesk-Regular.woff);
}

main {
  height: 100%;
  width: 100%;
  padding: 0rem 8rem;

  section.sec1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    .left h1 {
      font-size: 2.5vw;
      font-family: 'head';

      i {
        rotate: 45deg;
        display: inline-block;
        font-size: larger;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 3rem;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.3vw;
        opacity: 0.8;
        font-family: 'head';
      }

      button {
        background-color: transparent;
        font-size: 1.3vw;
        padding: 0.7rem;
        border-radius: 1rem;
        opacity: 0.8;

        &:hover {
          background-color: rgb(0, 0, 0);
          color: white;
        }
      }

    }
  }

  section.sec2 {
    width: 100%;
    display: flex;
    margin-bottom: 10rem;

    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 3vw;
        margin-bottom: 1rem;
        font-family: 'body';
        width: 80%;
      }

      p {
        font-size: 1.2vw;
        width: 80%;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      button {
        width: 50%;
        padding: 1rem;
        font-size: 1.5vw;
        border-radius: 1rem;
        background-color: black;
        color: white;
        border: none;

        &:hover {
          background-color: #B9FF66;
          color: black;
          transition: 0.2s
        }
      }
    }

    .right {
      width: 60%;
      position: relative;

      img {
        position: absolute;
        right: 0;
      }
    }
  }

  section.sec3 {
    display: flex;
    // gap: 5rem;

    justify-content: space-between;
    margin-bottom: 8rem;

    img {
      display: inline-block;
    }

  }

  section.sec4 {
    width: 100%;
    padding-bottom: 5rem;

    .top {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 5rem;

      h1 {
        background-color: #B9FF66;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 2.5vw;
        font-family: 'head';
        font-weight: 500;
      }

      p {
        width: 40%;
        font-size: 1vw;
        font-family: 'body';
      }
    }

    .first {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .left {
        display: flex;
        width: 47%;
        height: 16rem;
        padding: 2rem;
        background-color: #F3F3F3;
        border-radius: 3rem;
        box-shadow: 0px 7px 0px black;
        position: relative;

        .top-left {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 3rem;

          h2 {
            // width: 80%;
            background-color: #B9FF66;
          }
        }

        .top-right {
          position: absolute;
          right: 5rem;

        }
      }

      .right {
        display: flex;
        padding: 2rem;
        width: 47%;
        height: 16rem;
        background-color: #B9FF66;
        border-radius: 3rem;
        box-shadow: 0px 7px 0px black;
        justify-content: space-evenly;




        .top-left {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 3rem;

          h2 {
            // width: 80%;
            background-color: #F3F3F3;

          }
        }

      }
    }

    .second {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        width: 47%;
        height: 16rem;
        padding: 3rem;
        background-color: #191A23;
        border-radius: 3rem;
        box-shadow: 0px 7px 0px black;
        position: relative;

        .top-left {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 3rem;

          h2 {
            background-color: #F3F3F3;
          }

          h4 {
            color: white;
          }
        }

        .top-right {
          position: absolute;
          right: 5rem;

        }
      }

      .right {
        display: flex;
        padding: 2rem;
        width: 47%;
        height: 16rem;
        background-color: #F3F3F3;
        border-radius: 3rem;
        box-shadow: 0px 7px 0px black;
        justify-content: space-evenly;




        .top-left {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 3rem;

          h2 {
            // width: 80%;
            background-color: #B9FF66;

          }
        }

      }
    }
  }
}