* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'head';
  src: url(./fonts/SpaceGrotesk-Medium.woff);
}

@font-face {
  font-family: 'body';
  src: url(./fonts/SpaceGrotesk-Regular.woff);
}

main {
  height: 100%;
  width: 100%;
  padding: 0rem 8rem;

  section.sec1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;

    .left h1 {
      font-size: 2.5vw;
      font-family: 'head';
    }

    .right {
      display: flex;
      align-items: center;
      gap: 3rem;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.3vw;
        opacity: 0.8;
        font-family: 'head';
      }

      button {
        background-color: transparent;
        font-size: 1.3vw;
        padding: 0.7rem;
        border-radius: 1rem;
        opacity: 0.8;

        &:hover {
          background-color: rgb(0, 0, 0);
          color: white;
        }
      }

    }
  }

  section.sec2 {
    width: 100%;
    display: flex;

    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 3vw;
        margin-bottom: 1rem;
        font-family: 'body';
        width: 80%;
      }

      p {
        font-size: 1.2vw;
        width: 80%;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      button {
        width: 50%;
        padding: 1rem;
        font-size: 1.5vw;
        border-radius: 1rem;
        background-color: black;
        color: white;
        border: none;

        &:hover {
          background-color: #B9FF66;
          color: black;
          transition: 0.2s

        }
      }
    }

    .right {
      width: 60%;
      position: relative;

      img {
        position: absolute;
        right: 0;
      }
    }
  }
  section .sec3{
    width: 100%;
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // gap: 2rem;
    // padding: 4rem 0rem;
    img{
      display: inline-block;
    }

  }
}