// Variables
$white: #fff;
$black: #000;
$bg: #f0f0f0;
$border: #bbb;

// Sizes
$white-width: 60px;
$white-height: 220px;

$black-width: 35px;
$black-height: 140px;

// Base Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;

}

// Piano Wrapper
main {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .piano {
    display: flex;
    position: relative;
    box-shadow: inset 0 -8px 5px rgba(0, 0, 0, 0.2);



    // White Keys
    .white {
      width: $white-width;
      height: $white-height;
      background: $white;
      border: 1px solid $border;
      box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 10px 10px;

      // transform-origin: bottom;
      // transition: 0.1s;


      &:active {
        background: darken($white, 20%);
        cursor: pointer;

      }
    }


    // Black Keys
    .black {
      width: $black-width;
      height: $black-height;
      background: linear-gradient($black, #2a2a2a);
      position: absolute;
      top: 0;
      border-radius: 0 0 5px 5px;
      z-index: 2;

      &:active {
        background: linear-gradient(#111, #444);
        cursor: pointer;
      }

      // Specific key positions
      &.b1 {
        left: 45px;
      }

      &.b2 {
        left: 105px;
      }

      &.b4 {
        left: 225px;
      }

      &.b5 {
        left: 285px;
      }

      &.b6 {
        left: 345px;
      }

      &.b7 {
        left: 465px;
      }

      &.b8 {
        left: 525px;
      }

      &.b9 {
        left: 645px;
      }

      &.b10 {
        left: 705px;
      }

      &.b11 {
        left: 765px;
      }

      &.b12 {
        left: 885px;
      }

      &.b13 {
        left: 945px;
      }

      &.b14 {
        left: 1065px;
      }

      &.b15 {
        left: 1125px;
      }

      &.b16 {
        left: 1185px;
      }
    }
  }
}