* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /*background colors*/
  --bg-color: #161616;

  /*text colors*/
  --text-color: #ebebeb;

  /* padding */
  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-xl: 3rem;
  --padding-2x: 4rem;

  /*border color*/
  --border-color: #474747;

  /*border radius*/
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;

  /*spacing*/
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  height: 100%;
  width: 100%;

  section {
    width: 100%;
    height: 100%;
    padding: var(--padding-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);


    .infos {
      display: flex;
      justify-content: space-between;
      font-family: 'body';
      font-size: 1.2rem;

      .info {
        border: 1px solid var(--border-color);
        padding: var(--padding-xs) var(--padding-sm);
        border-radius: var(--border-radius-sm);
      }
    }

    .board {
      flex-grow: 1;
      border: 1px solid var(--border-color);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));

      .block {
        width: 40px;
        height: 40px;
        border: 1px solid var(--border-color);
      }

    }
  }
}