* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 29, 29);


  .card {
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;

    .top {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      i {
        position: absolute;
        font-size: 5rem;
        top: 60%;
        left: 50%;
        opacity: 0;

        background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        transform: translate(-50%, -60%)scale(0) rotate(-60deg);
        transition: all cubic-bezier(.65, 1, .77, 1.44) 0.4s;

      }

    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}