* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 27, 27);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  anchor-name: --some-anchor;
}

.box {
  height: 200px;
  width: 200px;
}

.box:hover {
  anchor-name: --some-anchor;
}

.red {
  background-color: rgb(190, 21, 21);
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.anchor {
  background-color: whitesmoke;
  /* height: 50px;
  width: 50px; */
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  position-anchor: --some-anchor;
  transition: all 0.3s linear;
  mix-blend-mode: difference;
  pointer-events: none;
}
