* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  /* height: 100%; */
  width: 100%;
  /* background-color: #000; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at 70% 30%, #5a0f3c, #0d001a 60%);
}

main nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  position: fixed;
  transition: all ease 0.3s;
  z-index: 9;
}

nav > h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
}

nav .nav-items {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-radius: 0.7rem;
  padding: 0.7rem 2rem;
  background-color: hsla(0, 0%, 54%, 0.242);
  backdrop-filter: blur(10px);
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}

nav .nav-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  cursor: pointer;
}

section {
  width: 100%;
  padding-inline: 5rem;
}

.cards-container {
  margin-block: 6rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.3rem;
  min-height: 480px;
  gap: 20px;
  background-color: rgba(129, 129, 129, 0.216);
  backdrop-filter: blur(20px);
  padding: 0.7rem;
  flex-wrap: wrap;
  /* width: 23%; */
  width: 313px;
}
.card .img {
  height: 220px;
}

.img > img {
  height: 100%;
  width: 100%;
  border-radius: 1.3rem;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #c1a0b4;
}
.details > p {
  color: #993f75;
}

.details > h3 > span {
  font-size: 1rem;
  font-weight: 400;
  color: #8d657d;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  transform: all ease 0.3s;
  cursor: pointer;
}
.btns {
  background-color: #993f75;
  color: #baa6b2;
}
.btns:active {
  transform: scale(0.95);
}

.cards-add-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(
    135deg,
    #0f051d 0%,
    #1a0933 30%,
    #3b0f4a 60%,
    #120018 100%
  );
  position: absolute;
  top: 13%;
  display: flex;
  display: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.cards-add-container .card {
  height: fit-content;
}
