* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  cursor: none;
}

main {
  height: 100%;
  width: 100%;
  position: relative;

  #cursor {
    position: fixed;
    height: 50px;
    width: 50px;
    object-fit: cover;
    transform: translate(-50%, -50%);

  }
}