* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;

  .sec-1 {
    height: 100vh;
    width: 100vw;

    video {
      position: fixed;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;

      h3 {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        button {
          padding: 0.4rem 1rem;
          font-size: 0.7rem;
          background-color: transparent;
          border: 2px solid rgb(232, 43, 43);
          color: white;
          cursor: pointer;
          border-radius: 2rem;
          &:hover{
            background: linear-gradient(red, yellow);
          }
        }
        i{
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}