* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'cult';
  src: url(./fonts/SpaceGrotesk-Regular.woff2);
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Space';
  src: url(./fonts/l);
}

main {
  height: 100%;
  width: 100%;

  .sec-1 {
    height: 100vh;
    width: 100%;
    background-color: rgba(9, 6, 27, 0.578);

    video {
      position: absolute;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;


    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;
      width: 100%;

      h3 {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        font-family: 'spacegrotesk';
        letter-spacing: 2px;
        font-weight: 500;

        button {
          position: relative;
          padding: 0.7rem 1.2rem;
          font-size: clamp(0.2rem, 2.5vw, 1.2rem);
          // font-weight: 700;
          color: #fff;
          background: transparent;
          border: 2px solid #ff0048;
          border-radius: 2rem;
          cursor: pointer;
          overflow: hidden;
          transition: 0.3s ease;
          font-family: 'space';

          &::before {
            content: "";
            position: absolute;
            inset: 2px;
            background: transparent;
            border-radius: 2rem;
            z-index: -1;
            transition: 0.4s ease;
          }

          &:hover::before {
            background: linear-gradient(to right, rgb(255, 52, 52), rgb(255, 166, 0), rgb(255, 230, 0));

          }
        }

        i {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        position: relative;


        img {
          width: clamp(22rem, 55vw, 55rem);
        }
      }

      .content-text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2rem;

        h2 {
          font-size: clamp(1.2rem, 5.5vw, 3.5rem);
          background: linear-gradient(to right, rgb(255, 34, 34), rgb(240, 193, 38), rgb(255, 230, 0));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: 'space';
        }

        h3 {
          font-size: clamp(1rem, 2.5vw, 2.4rem);
          letter-spacing: 2px;
          margin-top: 1rem;
          font-family: 'spacegrotesk';
          text-transform: uppercase;
        }

        button {
          margin-top: 1.5rem;
          position: relative;
          padding: 0.7rem 1.2rem;
          font-size: 1rem;
          color: #fff;
          background: transparent;
          border: 2px solid #ff0048;
          border-radius: 2rem;
          cursor: pointer;
          overflow: hidden;
          transition: 0.3s ease;
          font-family: 'space';

          &::before {
            content: "";
            position: absolute;
            inset: 2px;
            background: transparent;
            border-radius: 2rem;
            z-index: -1;
            transition: 0.4s ease;
          }

          &:hover::before {
            background: linear-gradient(to right, rgb(255, 34, 34), rgb(240, 193, 38), rgb(255, 230, 0));

          }
        }

      }
    }
  }

  .sec-2 {
    height: 100vh;
    width: 100%;
    background-color: #191024;
    display: flex;
    flex-direction: column;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .sec-3 {
    height: 100vh;
    width: 100%;
    background-color: #191024;
    display: flex;
    flex-direction: column;
  }

  .sec-4 {
    height: 100vh;
    width: 100%;
    background-color: #191024;
    display: flex;
    flex-direction: column;
  }
}