* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;

  .sec-1 {
    height: 100vh;
    width: 100%;

    video {
      // height: 100%;
      // width: 100vw;
      // object-fit:cover;
      // object-position: center;

      display: inline-flex;
      filter: drop-shadow(0 4px 26px #191024);
      margin: auto;
      max-width: 100%;
      text-align: center;
      width: 100%;
    }
  }
}