* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 26);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;

  .card {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

    img {
      width: 100%;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    h1 {
      font-size: 1.2rem;
    }

    h2 {
      color: rgb(162, 32, 32);
    }

    p {
      opacity: 0.7;
    }
  }
}